body {
	font-family: Verdana;
}

.header {
	background: rgb(7,2,102);
    background: linear-gradient(180deg, rgba(7,2,102,1) 0%, rgba(17,17,184,1) 56%, rgba(0,212,255,1) 100%); 
	color: white;
}

a.navigasi:link {
  display: inline-block;
  width: 120px;
  height: 25px;
  margin: 10px;
  padding: 5px;
  text-align: center;
  white-space: nowrap;
  border-radius: 5px;
  border: 1px solid #000000;
  overflow: hidden;
  text-overflow: ellipsis;
  color: black;
  text-decoration: none;
  background: #FFCC00;
  font-family: Tahoma;
	
}

a.navigasi:visited {

}

a.navigasi:hover {
  background-color: #0099CC;
  font-weight: bolder;
  color: white;
}

a.navigasi:active {
  background-color: #FF0000;
}

.footer {
	background: rgb(7,2,102);
    background: linear-gradient(180deg, rgba(7,2,102,1) 0%, rgba(17,17,184,1) 56%, rgba(0,212,255,1) 100%); 
	color: white;
}
